---
import Layout from '~/layouts/PageLayout.astro';
import LogoBanner from '~/components/LogoBanner.astro'
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'Tuckers Tours - Irelands Best Tour Service.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book Now',
        href: '/book-now',
        target: '_blank',
        icon: 'uil:calender',
      },
      { text: 'About me', href: 'about-me' },
    ]}
    image={{ src: '~/assets/images/LoveIreland2.jpg', alt: 'Picture of ireland' }}
  >
    <Fragment slot="title">
      Take A Trip With <span class="hidden xl:inline">Irelands Favourite Tours.</span>
      <span class="text-accent dark:text-white highlight"> Tuckers Tours!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Tuckers Tours</span> Discover the beauty of Belfast with our expert-led tours. Experience
        the city's before.</span
      >
      Suitable for All!
    </Fragment>
  </Hero>

  <LogoBanner/>

  <Features
    id="Highlights"
    tagline="What you get with our tours"
    title="What you get with our tours"
    subtitle="Discover Belfast like never before with our comprehensive tour experience"
    items={[
      {
        title: 'Expert Guide',
        description:
          "Knowledgeable and passionate guide with a deep understanding of Belfast's history, culture, and attractions",
        icon: 'grommet-icons:user-expert',
      },
      {
        title: 'Small Group Experience',
        description:
          'Personalized attention and a more intimate tour experience with a group size of no more than 20 people',
        icon: 'healthicons:i-groups-perspective-crowd-outline',
      },
      {
        title: 'Customized Itinerary',
        description:
          'A tour tailored to your interests and preferences, with the option to adjust the itinerary on the day of the tour',
        icon: 'tabler:list-check',
      },

      {
        title: 'Unique Perspectives',
        description:
          "Discover hidden gems and off-the-beaten-path locations that you wouldn't find on a typical tourist itinerary",
        icon: 'icon-park-outline:guide-board',
      },
      {
        title: 'Luxury Transportation',
        description: 'Join me on a private tour in my luxury 8 seater Mercedes Vito With leather interior WiFi',
        icon: 'tabler:car',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    tagline="Our Tours"
    title="What do we offer? ..."
    items={[
      {
        title: 'Explore Dunluce Castle Ruins',
        description:
          "Discover the rich history of Dunluce Castle ruins, a 16th-century marvel inhabited by both the McQuillan and Mac Donnell Clans. Recognized as the filming location for the House of GreyJoy in 'Game of Thrones', this tour takes you through the castle's fascinating past.",
      },
      {
        title: 'Unveiling Giants Causeway',
        description:
          'Witness the breathtaking Giants Causeway, where 40,000 large, regularly shaped polygonal basalt columns form a unique pavement. Hear the legend of Finn Mac Cool and his creation of the Causeway to reach Scotland, setting the stage for an epic rivalry with the Scottish Giants.',
      },
      {
        title: 'Ballintoy Harbour Experience',
        description:
          "Visit the picturesque Ballintoy Harbour, known as the town of the North. Explore its 19th-century history and discover its role as a filming location in 'Game of Thrones', featuring Theon Greyjoy's arrival in the Iron Islands.",
      },
      {
        title: 'Carrick-A-Rede Rope Bridge Adventure',
        description:
          'Cross the daring Carrick-A-Rede Rope Bridge, suspended 100ft above the Atlantic Ocean, for a thrilling experience. Immerse yourself in the beauty of the surrounding landscapes.',
      },
    ]}
    image={{
      src: '~/assets/images/FilimingLocation.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Experience the Wonders of Dunluce Castle and Giants Causeway
      </h3>
      Join us on a captivating journey as we explore the historic Dunluce Castle, the enchanting Giants Causeway, and more.
      Discover the magic and legends of Northern Ireland's coast.
    </Fragment>
  </Content>

  <!-- Belfast City Tour Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Understanding Belfast’s Divisions',
        description:
          'Gain insight into the complex history and events that shaped Belfast, exploring the Falls Road and its murals that reflect Irish culture and history.',
      },
      {
        title: 'Walking Through History',
        description:
          'Walk the streets of West Belfast, visiting landmarks like St. Comgalls School and Clonard Monastery. Understand the impact of peace walls and the importance of the 1998 Belfast peace agreement.',
      },
      {
        title: 'Gaining a New Perspective',
        description:
          'Leave with a deeper understanding of Belfast’s history, the impact of the Troubles, and the ongoing journey towards unity and peace.',
      },
    ]}
    image={{
      src: '~/assets/images/PeaceWalls.jpg',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Belfast City Tours</h3>
      Explore the history and significance of Belfast's divisions, gaining a new perspective and promoting unity through
      understanding.
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Discover North of Ireland with Ease"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Choose Your Tour</span>',
        description:
          "Select from a variety of tour options, each offering a unique perspective on North of Ireland's history, culture, and landscapes",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Book Your Experience</em>',
        description:
          'Book your tour with ease and take the first step towards discovering the beauty of North of Ireland',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Create Memories to Last a Lifetime</span>',
        description:
          'Make memories that will last a lifetime as you immerse yourself in the breathtaking scenery and rich cultural heritage of North of Ireland',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/BookNow.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Have a question? We've got answers."
    highlight="FAQs"
    items={[
      {
        title: 'What is included in the tours?',
        description:
          'Our tours include transportation, a knowledgeable guide, and admission to popular destinations and landmarks in and around Belfast. Meals, snacks, and other expenses are not included.',
      },
      {
        title: 'How long are the tours?',
        description:
          'The length of our tours varies, with options ranging from half-day trips to full-day itineraries. You can choose the tour that best fits your schedule and interests.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book Now!',
        href: '/book-now',
        target: '_blank',
        icon: 'uil:calender',
      },
    ]}
  >
    <Fragment slot="title">
      Tuckers Tours <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Belfast</span>
    </Fragment>

    <Fragment slot="subtitle">
      You've come this far down the page. <br class="hidden md:inline" />Don't waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
