---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Book Now', href: '#' , icon: 'uil:calender'}}
    callToAction2={{ text: 'About Us', href: '#features' }}
    image={{ src: import('~/assets/images/LoveIreland2.jpg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Take A Trip With <span class="hidden lg:inline">Irelands Favourite Tours. <br class="2xl:hidden" /></span>
      <span class="text-accent dark:text-white highlight"> Tuckers Tours Belfast!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"> Tuckers Tours Belfast</span>
        Discover the beauty of Belfast with our expert-led tours. Experience the city's rich history and culture like never
        before.
      </span>

      
      Suitable for Families, Friends, Individuals and More!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- Features Widget *************** -->

  <Features
    highlight="Highlights"
    title="What you get with our tours"
    subtitle="Discover Belfast like never before with our comprehensive tour experience."
    items={[
      [
        {
          title: 'Expert Guide',
          description:
            "Knowledgeable and passionate guide with a deep understanding of Belfast's history, culture, and attractions",
          icon: 'grommet-icons:user-expert',
        },
        {
          title: 'Small Group Experience',
          description:
            'Personalized attention and a more intimate tour experience with a group size of no more than 20 people',
          icon: 'healthicons:i-groups-perspective-crowd-outline',
        },
        {
          title: 'Customized Itinerary',
          description:
            'A tour tailored to your interests and preferences, with the option to adjust the itinerary on the day of the tour',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Unique Perspectives',
          description:
            "Discover hidden gems and off-the-beaten-path locations that you wouldn't find on a typical tourist itinerary",
          icon: 'icon-park-outline:guide-board',
        },
        {
          title: 'Convenient Transportation',
          description:
            'Comfortable, air-conditioned transportation, allowing you to sit back, relax, and enjoy the sights of the north of Ireland',
          icon: 'icon-park-outline:tour-bus',
        },
        {
          title: 'Guaranteed Fun',
          description:
            'A fun and engaging tour experience, guaranteed to leave you with lasting memories and a newfound appreciation for Belfast.',
          icon: 'healthicons:happy',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Our Tours"
    title="What do we offer? ..."
    items={[
      {
        title: 'Explore Westeros in Real Life',
        description: 'Visit iconic filming locations and discover the magic behind the scenes of the hit TV series',
      },
      {
        title: 'Learn From a Thrones Expert',
        description: 'Enjoy a tour led by a knowledgeable guide who is passionate about all things Game of Thrones',
      },
      {
        title: 'A Tour for Fans of All Ages',
        description:
          "Whether you're a die-hard fan or just curious about the show, our Game of Thrones Tours are perfect for everyone.",
      },
    ]}
    image={{
      src: import('~/assets/images/FilimingLocation.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Game of Thrones</h3>
      Join us on an unforgettable journey through the stunning landscapes of North of Ireland, where you'll get to visit
      the iconic filming locations of the hit TV series 'Game of Thrones' and experience the magic of Westeros for yourself.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Understanding the Conflict',
        description:
          'Gain insight into the complex history and events that led to the creation of the peace walls in Belfast',
      },
      {
        title: 'Walking in Their Shoes',
        description:
          'Walk the same streets and visit the same neighborhoods as those affected by the conflict, and understand the impact of the walls on daily life',
      },
      {
        title: 'Leaving with a New Perspective',
        description:
          'Take away a deeper understanding of the conflict in Belfast and the importance of working towards a more united and peaceful future',
      },
    ]}
    image={{
      src: import('~/assets/images/PeaceWalls.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Belfast Peace Walls Tours</h3>
      Discover the History and Significance of Belfast's Divisions and Unite Through Understanding
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Discover North of Ireland with Ease"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Choose Your Tour</span>',
        description:
          "Select from a variety of tour options, each offering a unique perspective on North of Ireland's history, culture, and landscapes",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Book Your Experience</em>',
        description:
          'Book your tour with ease and take the first step towards discovering the beauty of North of Ireland',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Create Memories to Last a Lifetime</span>',
        description:
          'Make memories that will last a lifetime as you immerse yourself in the breathtaking scenery and rich cultural heritage of North of Ireland',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/BookNow.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What is included in the tours of Belfast?',
          answer:
            "Our tours include transportation, a knowledgeable guide, and admission to popular destinations and landmarks in and around Belfast. Meals, snacks, and other expenses are not included.",
        },
        {
          question: 'How long are the tours of Belfast?',
          answer:
            "The length of our tours varies, with options ranging from half-day trips to full-day itineraries. You can choose the tour that best fits your schedule and interests.",
        },
        {
          question: "Do you provide transportation for the tours of Belfast?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "Are the tours of Belfast suitable for all ages?",
          answer:
            "Our tours are suitable for all ages and fitness levels, with options for families, seniors, and adventure-seekers alike. Let us know your needs, and we'll help you find the tour that's right for you.",
        },
        {
          question: 'How much do the tours of Belfast cost?',
          answer:
            "The cost of our tours varies depending on the itinerary, duration, and group size. Contact us for a detailed quote and to discuss the options that are right for you.",
        },
        {
          question: 'What is the cancellation policy for the tours of Belfast?',
          answer:
            "Our cancellation policy varies depending on the tour and the time of cancellation. We recommend you carefully review the cancellation policy when you book your tour.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Book Now!',
      href: '#',
      icon: 'uil:calender',
    }}
  >
    <Fragment slot="title">
      Tuckers Tours <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Belfast</span>
    </Fragment>

    <Fragment slot="subtitle">
      You've come this far down the page. <br class="hidden md:inline" />Don't waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
