---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const a = "Belfast Peace Walls Tours";
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Book Now', href: '#'}}
    callToAction2={{ text: 'About Me', href: '#features' }}
    image={{ src: import('~/assets/images/LoveIreland2.jpg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Take A Trip With <span class="hidden lg:inline">Irelands Favourite Tours. <br class="2xl:hidden"/></span>
      <span class="text-accent dark:text-white highlight"> Tuckers Tours Belfast!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">
          Tuckers Tours Belfast
        </span> 
        Discover the beauty of Belfast with our expert-led tours. Experience the city's rich history and culture like never before.
      </span>

      <span class="block mb-1 sm:hidden font-bold text-blue-600">Tuckers Tours Belfast</span> 
      Suitable for Families, Friends, Individuals and More!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- Features Widget *************** -->

  <Features
    highlight="Highlights"
    title="What you get with our tours"
    subtitle="Discover Belfast like never before with our comprehensive tour experience."
    items={[
      [
        {
          title: 'Expert Guide',
          description:
            "Knowledgeable and passionate guide with a deep understanding of Belfast's history, culture, and attractions",
          icon: 'grommet-icons:user-expert',
        },
        {
          title: 'Small Group Experience',
          description:
            'Personalized attention and a more intimate tour experience with a group size of no more than 20 people',
          icon: 'healthicons:i-groups-perspective-crowd-outline',
        },
        {
          title: 'Customized Itinerary',
          description:
            'A tour tailored to your interests and preferences, with the option to adjust the itinerary on the day of the tour',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Unique Perspectives',
          description:
            "Discover hidden gems and off-the-beaten-path locations that you wouldn't find on a typical tourist itinerary",
          icon: 'icon-park-outline:guide-board',
        },
        {
          title: 'Convenient Transportation',
          description:
            'Comfortable, air-conditioned transportation, allowing you to sit back, relax, and enjoy the sights of the north of Ireland',
          icon: 'icon-park-outline:tour-bus',
        },
        {
          title: 'Guaranteed Fun',
          description:
            'A fun and engaging tour experience, guaranteed to leave you with lasting memories and a newfound appreciation for Belfast.',
          icon: 'healthicons:happy',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Our Tours"
    title="What do we offer? ..."
    items={[
      {
        title: 'Explore Westeros in Real Life',
        description:
          "Visit iconic filming locations and discover the magic behind the scenes of the hit TV series",
      },
      {
        title: "Learn From a Thrones Expert",
        description:
          "Enjoy a tour led by a knowledgeable guide who is passionate about all things Game of Thrones",
      },
      {
        title: 'A Tour for Fans of All Ages',
        description:
          "Whether you're a die-hard fan or just curious about the show, our Game of Thrones Tours are perfect for everyone.",
      },
    ]}
    image={{
      src: import('~/assets/images/FilimingLocation.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Game of Thrones</h3>
      Join us on an unforgettable journey through the stunning landscapes of Northern Ireland, where you'll get to visit the iconic filming locations of the hit TV series 'Game of Thrones' and experience the magic of Westeros for yourself.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Understanding the Conflict',
        description:
          "Gain insight into the complex history and events that led to the creation of the peace walls in Belfast",
      },
      {
        title: 'Walking in Their Shoes',
        description:
          "Walk the same streets and visit the same neighborhoods as those affected by the conflict, and understand the impact of the walls on daily life",
      },
      {
        title: 'Leaving with a New Perspective',
        description:
          "Take away a deeper understanding of the conflict in Belfast and the importance of working towards a more united and peaceful future",
      }
    ]}
    image={{
      src: import('~/assets/images/PeaceWalls.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Belfast Peace Walls Tours</h3>
      Discover the History and Significance of Belfast's Divisions and Unite Through Understanding
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Discover Northern Ireland with Ease"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Choose Your Tour</span>',
        description:
          "Select from a variety of tour options, each offering a unique perspective on Northern Ireland's history, culture, and landscapes",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Book Your Experience</em>',
        description:
          "Book your tour with ease and take the first step towards discovering the beauty of Northern Ireland",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Create Memories to Last a Lifetime</span>',
        description:
          "Make memories that will last a lifetime as you immerse yourself in the breathtaking scenery and rich cultural heritage of Northern Ireland",
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/BookNow.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

 

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Book Now!',
      href: '#',
      icon: 'uil:calender',
    }}
  >
    <Fragment slot="title">
      Tuckers Tours <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Belfast</span>
    </Fragment>

    <Fragment slot="subtitle">
      You've come this far down the page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
