---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book Now',
        href: '/book-now',
        target: '_blank',
        icon: 'uil:calender',
      },
      { text: 'About me', href: 'about-me' },
    ]}
    image={{ src: '~/assets/images/LoveIreland2.jpg', alt: 'Picture of ireland' }}
  >
    <Fragment slot="title">
      Take A Trip With <span class="hidden xl:inline">Irelands Favourite Tours.</span>
      <span class="text-accent dark:text-white highlight"> Giants Tours!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Giants Tours</span> Discover the beauty of Belfast with our expert-led tours. Experience
        the city's before.</span
      >
      Suitable for Families, Friends, Individuals and More!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- Features Widget *************** -->

  <Features
    id="Highlights"
    tagline="What you get with our tours"
    title="What you get with our tours"
    subtitle="Discover Belfast like never before with our comprehensive tour experience"
    items={[
      {
        title: 'Expert Guide',
        description:
          "Knowledgeable and passionate guide with a deep understanding of Belfast's history, culture, and attractions",
        icon: 'grommet-icons:user-expert',
      },
      {
        title: 'Small Group Experience',
        description:
          'Personalized attention and a more intimate tour experience with a group size of no more than 20 people',
        icon: 'healthicons:i-groups-perspective-crowd-outline',
      },
      {
        title: 'Customized Itinerary',
        description:
          'A tour tailored to your interests and preferences, with the option to adjust the itinerary on the day of the tour',
        icon: 'tabler:list-check',
      },

      {
        title: 'Unique Perspectives',
        description:
          "Discover hidden gems and off-the-beaten-path locations that you wouldn't find on a typical tourist itinerary",
        icon: 'icon-park-outline:guide-board',
      },
      {
        title: 'Convenient Transportation',
        description:
          'Comfortable, air-conditioned transportation, allowing you to sit back, relax, and enjoy the sights of the north of Ireland',
        icon: 'icon-park-outline:tour-bus',
      },
      {
        title: 'Guaranteed Fun',
        description:
          'A fun and engaging tour experience, guaranteed to leave you with lasting memories and a newfound appreciation for Belfast',
        icon: 'healthicons:happy',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    tagline="Our Tours"
    title="What do we offer? ..."
    items={[
      {
        title: 'Discover the Giants Causeway',
        description:
          "Explore the magnificent natural wonder of the Giant's Causeway, a UNESCO World Heritage site and one of the most unique geological formations in the world. Our expert guides will take you on a journey through the history, myths and legends surrounding this incredible natural wonder.",
      },
      {
        title: 'Amazing Value',
        description:
          'Up to 4 people can enjoy this unforgettable experience for a flat fee of £350 - £450, including pick up and drop off. With no hidden costs, our tour offers unbeatable value for money.',
      },
      {
        title: 'A Tour for Everyone',
        description:
          "Whether you're a nature lover, history buff, or just looking for a unique adventure, our Giants Causeway Tour is perfect for everyone. Our friendly and knowledgeable guides will ensure that you have a truly unforgettable experience, suitable for all ages and interests.",
      },
    ]}
    image={{
      src: '~/assets/images/FilimingLocation.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Experience the Natural Wonder on the Giants Causeway Tour
      </h3>
      Join us on an unforgettable journey through the stunning landscapes of Northern Ireland, where you'll get to experience
      the magic of the Giant's Causeway, a natural wonder steeped in legend and folklore.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Understanding the Conflict',
        description:
          'Gain insight into the complex history and events that led to the creation of the peace walls in Belfast',
      },
      {
        title: 'Walking in Their Shoes',
        description:
          'Walk the same streets and visit the same neighborhoods as those affected by the conflict, and understand the impact of the walls on daily life',
      },
      {
        title: 'Leaving with a New Perspective',
        description:
          'Take away a deeper understanding of the conflict in Belfast and the importance of working towards a more united and peaceful future',
      },
    ]}
    image={{
      src: '~/assets/images/PeaceWalls.jpg',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Belfast City Tours</h3>
      Discover the History and Significance of Belfast's Divisions and Unite Through Understanding from £45 per person!.
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Discover North of Ireland with Ease"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Choose Your Tour</span>',
        description:
          "Select from a variety of tour options, each offering a unique perspective on North of Ireland's history, culture, and landscapes",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Book Your Experience</em>',
        description:
          'Book your tour with ease and take the first step towards discovering the beauty of North of Ireland',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Create Memories to Last a Lifetime</span>',
        description:
          'Make memories that will last a lifetime as you immerse yourself in the breathtaking scenery and rich cultural heritage of North of Ireland',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/BookNow.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Have a question? We've got answers."
    highlight="FAQs"
    items={[
      {
        title: 'What is included in the tours?',
        description:
          'Our tours include transportation, a knowledgeable guide, and admission to popular destinations and landmarks in and around Belfast. Meals, snacks, and other expenses are not included.',
      },
      {
        title: 'How long are the tours?',
        description:
          'The length of our tours varies, with options ranging from half-day trips to full-day itineraries. You can choose the tour that best fits your schedule and interests.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book Now!',
        href: '/book-now',
        target: '_blank',
        icon: 'uil:calender',
      },
    ]}
  >
    <Fragment slot="title">
      Giants Tours <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Belfast</span>
    </Fragment>

    <Fragment slot="subtitle">
      You've come this far down the page. <br class="hidden md:inline" />Don't waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
